jwt:
  secret: ghuisdtweruitywfkjsfbdgscnvbalsdkjfghfadlsjkfvbjbvsdfghjsdfhjghkasdfukasdsxcvhjkgawsducfshasfgkdk

spring:
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders: "*"
            allowCredentials: false

      routes:
        - id: auth-route
          uri: http://localhost:8081
          predicates:
            - Path=/v1/auth/**
        - id: game-route
          uri: http://localhost:8080
          predicates:
            - Path=/v1/games/**
          filters:
            - AuthenticationFilter

  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

server:
  port: 8082
